streamlit==1.34.0
pandas==1.3.0  # Changed to a compatible version
numpy==1.21.5  # Changed to a compatible version
seaborn==0.11.2  # Changed to a compatible version
matplotlib==3.4.2  # Changed to a compatible version
scikit-learn==1.0.2  # Changed to a compatible version
ydata-profiling==4.7.0
streamlit-pandas-profiling==0.1.3
phik==0.12.4
